// Place all the styles related to the foodiepictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
    background-attachment: fixed;
 	background: url('wall.jpg');
 	background-repeat: no-repeat;
 	background-size: cover;

 }

 /*.pictures {
    width: 500px;
    display: inline-block;
    font-family: 'Unkempt', cursive;
    color: pink;
    font-color: pink;
 }*/

 ul li {
     width: 800px;
     display: inline;
 }